@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root{
    --accent: rgb(24, 75, 194);
    --background: rgb(255, 255, 255);
    --foreground: rgb(0, 0, 0);
}

html, body{
    margin:0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    line-height: 1.5;
    background-color: var(--background);
    color:var(--foreground);
    overflow-x: hidden;
    background-color: var(--background);
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 5em;
}

* {
    box-sizing: border-box;
    flex-shrink: 0;
    font-size: 1em;
    font-family: 'Inter', sans-serif;    
}


.titlebox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 2rem;
}

.titlebox h1 {
    font-size:4em;
}


h1 {
    font-family: 'Lobster Two', serif;
    margin: 0;
    font-size: 2.5em;
    margin-left: -5px;
    font-weight: 800;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

h3{
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

p{
    margin: 0;
}

a{
    color: var(--foreground)    
}

nav a{
    color:var(--background);
}

nav{
    display: flex;
    width: 100%;
    overflow: scroll;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    background-color: var(--accent);
    color: var(--background);
    gap:1rem
}

nav img{
    height: 4em;
    width: auto;
    border-radius: 50%;
}

nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1em;
}

nav a:hover{
    opacity: 1;
    text-decoration: underline;
}

.spacer{flex-grow: 1;}

section,footer{
    width: 100%;
    padding: 20px calc(50% - 400px);
    margin-top:-2px;
    background-color: var(--background);
    color:var(--foreground);
}

footer{
    background-color: rgb(230, 213, 204);
    padding-bottom: 5em;
}

button{
    padding: 0.5rem 2rem;
    margin:0;
    background-color: var(--foreground);
    color: var(--background);
    border:0;
    margin: 1rem 0;
    border-radius: 50px;
    transition: transform 0.2s;
}

button:hover{
    transform: scale(1.1);
}

button:active{
    transform: scale(0.9);
}
ul,ol{
    padding-inline-start: 1em;
    margin: 0;
}

img,video{
    width: 100%;
    height: auto;
    object-fit: cover;
}

table{
    min-width: 50%;
    border-collapse: collapse;
    margin: 1em 0;
}

table, th, td{
    text-align: center;
    border: 1px solid var(--foreground);
}

@media screen and (max-width:880px) {
    .titlebox h1 {
        font-size: 3em;
    }
    section,footer,nav {
        padding: 2rem;
    }
    nav{
        padding: 1rem 2rem;
    }
    html{
        zoom: 0.85;
    }
    body{
        align-items: flex-start;
    }
}
