:root{
    --accent: rgb(255, 255, 255);
    --background: rgb(24, 75, 194);
    --foreground: rgb(255, 255, 255);
}
body{
    background-color: var(--accent);
    position: relative;
}

nav a, nav p{
    color:black;
}

.titlebox{
    margin: 1rem 2rem;
    margin-bottom: -2rem;
    height: 30vh;
    width: 100%;
    min-height: 15rem;
    display: flex;
    align-items: center;
}
.titlebox h1 {
    font-size:4em;
    color:black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 1em -5em;
}

.grid img{
    height: 100%;
}

@media screen and (max-width:880px) {
    section {
        padding: 2rem;
    }
    .grid {
        padding: 2rem;
    }
}

footer{
    background-color: rgb(13, 25, 52);
}